<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.psiphon.ploggy"
    android:versionCode="1"
    android:versionName="prototype-v1 release 13" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.NFC"></uses-permission>
    <uses-permission android:name="android.permission.VIBRATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>

    <application
        android:name="ca.psiphon.ploggy.PloggyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="ca.psiphon.ploggy.ActivityMain"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="ca.psiphon.ploggy.action.DISPLAY_FRIENDS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.psiphon.ploggy.ActivityGenerateSelf"
            android:parentActivityName="ca.psiphon.ploggy.ActivityMain" >
        </activity>
        <activity
            android:name="ca.psiphon.ploggy.ActivityAddFriend"
            android:parentActivityName="ca.psiphon.ploggy.ActivityMain" >
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="application/ca.psiphon.ploggy.android.beam"/>
            </intent-filter>
            
            <intent-filter>
                <!--  This is used for emailing friend-add links. They look like:
                      ftp://ploggy/#abcdef 
                      It's super hacky, but it gets around email attachment problems.
                      See https://github.com/Psiphon-Labs/ploggy/issues/11 -->
                      
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                
                <data android:scheme="ftp" android:host="identity.ploggy" />
            </intent-filter>
                
            <intent-filter>
                <!--  File association  intent filters -->
                
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.EDIT" />
                
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                
                <data
                  android:scheme="file"
                  android:mimeType="*/*"
                  android:host="*" />
                
                <!--  We'll keep this for completeness, but it doesn't work.
                      content:// URIs don't use a filename. -->
                <data
                  android:scheme="content"
                  android:mimeType="*/*"
                  android:host="*" />
                
                <!--  For a description of this horrible hack, see: http://stackoverflow.com/a/4621284/729729 -->
                <data android:pathPattern=".*\\.ploggy" />
                <data android:pathPattern=".*\\..*\\.ploggy" />
                <data android:pathPattern=".*\\..*\\..*\\.ploggy" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\.ploggy" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\.ploggy" />
                <data android:pathPattern=".*\\..*\\..*\\..*\\..*\\..*\\.ploggy" />
            </intent-filter>
        </activity>
        <activity
            android:name="ca.psiphon.ploggy.ActivityEditGroup" 
            android:parentActivityName="ca.psiphon.ploggy.ActivityMain" >
        </activity>
        <activity
            android:name="ca.psiphon.ploggy.ActivityShowPicture" 
            android:parentActivityName="ca.psiphon.ploggy.ActivityMain" >
        </activity>
        <activity
            android:name="ca.psiphon.ploggy.ActivitySettings"
            android:parentActivityName="ca.psiphon.ploggy.ActivityMain" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <service
            android:name="ca.psiphon.ploggy.PloggyService"
            android:label="@string/app_name"
            android:exported="false" >
        </service>
    </application>

</manifest>